<footer class="main-footer mt-5 pt-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3> Entre em contato</h3>
                <address>
                    +55 11 xxxxx-xxxx
                    <br/>
                </address>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                {% now 'Y' %} Python Pro...
            </div>
        </div>
    </div>
</footer>