<footer class="main-footer mt-5 pt-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3> Entre em contato</h3>
                <address>
                    +55 11 xxxxx-xxxx
                    <br/>
                    <a href="mailto:pcampos119104@gmail.com">pcampos119104@gmail.com</a>
                </address>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                {% now 'Y' %} Projeto do curso Python Pro

            </div>
        </div>
    </div>
</footer>