{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron">
                <h2>
                    Curso de Python com Luciano Ramalho
                </h2>
                <!-- INICIO DO BOTAO PAGSEGURO --><a href="https://pag.ae/7WkjSosS4/button" target="_blank"
                                                     title="Pagar com PagSeguro"><img
                    alt="Pague com PagSeguro - é rápido, grátis e seguro!"
                    src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/95x45-pagar.gif"/></a>
                <!-- FIM DO BOTAO PAGSEGURO -->
                <h4 class="mt-4">
                    Entre na fila de espera
                </h4>
                <form action="https://codemodi.us17.list-manage.com/subscribe/post?u=4cc4790964397316e89b915d6&amp;id=a47c209e9c"
                      class="form-row align-items-center" id="mc-embedded-subscribe-form" method="post"
                      name="mc-embedded-subscribe-form" novalidate target="_blank">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <label class="sr-only" for="mce-EMAIL">Email</label>
                            <input class="form-control required" id="mce-EMAIL" name="EMAIL" placeholder="exemplo@email.com" type="email"
                                   value="">
                        </div>

                        <div class="col-auto">
                            <label class="sr-only" for="mce-FNAME">Nome</label>
                            <input class="form-control required" id="mce-FNAME" name="FNAME" placeholder="Nome" type="text"
                                   value="">
                        </div>
                        <div aria-hidden="true" style="position: absolute; left: -5000px;"><input name="b_4cc4790964397316e89b915d6_a47c209e9c"
                                                                                                  tabindex="-1"
                                                                                                  type="text"
                                                                                                  value=""></div>

                        <div class="col-auto">
                            <input class="btn btn-primary " id="mc-embedded-subscribe" name="subscribe"
                                   type="submit" value="Subscribe">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h5 class="card-header">
                    Mais detalhes sobre o instrutor
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <img alt="Foto de Luciano" class="img-thumbnail" src="{% static 'img/luciano.jpg' %}"/>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
